<body class="index">
  <div class="index_page">
    <div class="container ">
      <div class="row text-center mt-5 p-5">
        <div class="col-12">
          <h1>Let me Learn</h1>
        </div>
      </div>
      <div>
        <div id="g-btn" class="col-12 text-center">
          <a href="/auth/google">
            Log into Google
          </a>
        </div>
      </div>
    </div>
  </div>
  <footer class="navbar navbar-light bg-primary fixed-bottom justify-content-center">©LML</footer>
</body>