<body class="index">
  <div class="index_page">
    <div class="container col-12" id="landing_container">
      <div class="row text-center mt-5 p-5">
        <div class="col-12">
          <h1>Let me Learn</h1>
        </div>
      </div>
      <div>
        <div class="button_cont col-12 text-center mb-5 align=center"><a id="g-btn"
        href="/auth/google" rel="nofollow noopener">Login with Google</a>
        </div>
        <br>
      </div>
    </div>
  </div>
  <footer class="navbar navbar-light bg-primary fixed-bottom justify-content-center">©LML</footer>
</body>