{{!-- new nav bar --}}
<div class="topnav" id="myTopnav">
  <a href="/students" class=" fas fa-home active"></a>
  <a href="/teachers">Browse Members</a>
  <a href="/student_post">Create Post</a>
  <a href="/auth/logout" class="float-right">Logout</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<!-- posts -->
<div id="pageContainer" class="container align=center">
</div>
<footer class="navbar navbar-dark bg-dark fixed-bottom justify-content-center">
  <div class="text">
    ©LML
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<script src="https://rawgit.com/moment/moment/2.2.1/min/moment.min.js"></script>
<!-- our js -->
<script src="./js/studentBrowse.js"></script>
<script src="moment.js"></script>
