<body>
  <nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->
    <a href="/student_homepage" class="fas fa-home"></a>
    <a href="/teachers">
      <button class="btn btn-primary" type="submit">Browse Teachers</button>
    </a>
    <div class="col-6"></div>
    <!-- google headshots -->
    <div class="col-2">
      <img src="..." class="rounded img-thumbnail float-right" alt="...">
    </div>
  </nav>
  <div class="container mt-3">
    <form>
      <div class="form-group">
        <label for="postTitle">Title</label>
        <input type="text" class="form-control" id="postTitle" placeholder="Title">
      </div>
      <div class="form-group">
        <label for="categorySelect">Category</label>
        <select class="form-control" id="categorySelect">
          <option>Sports</option>
          <option>Education</option>
          <option>Trades</option>
          <option>Random</option>
          <option>Art</option>
        </select>
      </div>
      <div class="form-group">
        <label for="aboutPost">A few words to explain.</label>
        <textarea class="form-control" id="aboutPost" rows="10"></textarea>
      </div>
      <input class="btn btn-primary" type="submit" value="Submit" id="studentSubmit" href="/students">
    </form>
  </div>
  <footer class="navbar navbar-dark bg-dark fixed-bottom justify-content-center">
    <div class="text">
      ©LML
    </div>
  </footer>
  <!-- Bootstrap js -->
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <!-- our js -->
  <script src="./js/studentPost.js"></script>

</body>