<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
  <a href="/students" class="fas fa-home"></a>
  <a href="/teachers">
    <button class="btn btn-primary" type="submit">Browse Members</button>
  </a>
  <a href="/student_post">
    <button class="btn btn-primary" type="submit">Create Post</button>
  </a>
  <div class="col-6"></div>
  <!-- google logout -->
  <div class="col-2">
    <div class="rounded float-right">
      <a href="/auth/logout">
        <button class="btn btn-primary" type="submit">Logout</button>
      </a>
    </div>
  </div>
</nav>
<!-- posts -->
<div id="pageContainer" class="container">
</div>
<footer class="navbar navbar-dark bg-dark fixed-bottom justify-content-center">
  <div class="text">
    ©LML
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<!-- our js -->
<script src="./js/studentBrowse.js"></script>