<body>
  <!-- headers of student browse page (student view)-->
{{!-- new nav bar --}}
<div class="topnav" id="myTopnav">
  <a href="/students" class=" fas fa-home active"></a>
  <a href="/teachers">Browse Members</a>
  <a href="/student_post">Create Post</a>
  <a href="/auth/logout" class="float-right">Logout</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
  <!-- teacher profiles -->
  <div id="pageContainer" class="container_teacher container">

  </div>
  <footer class="navbar navbar-dark bg-dark fixed-bottom justify-content-center">
    <div class="text">
      ©LML
    </div>
  </footer>
  <!-- Bootstrap js -->
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <!-- our js -->
  <script src="/js/teacherBrowse.js"></script>
</body>