/* styles throgh all pages */

html {
  background: url("./img/landing_page_background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.index {
  background-color: rgba(255, 255, 255, 0);
  margin-top: 20vh;
}

.index_page {
  background-image: url(assets/email-pattern.png);
}

.fa-home {
  color: white;
}

.card_teacher {
  width: 18em;
}

.text {
  color: whitesmoke;
}

.card {
  display: inline-block;
  float: left;
  margin: 0.25em;
  width: 45%;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

.card-header {
  font-size: 35px;
  text-transform: capitalize;
  font-weight: 650;
}

.card-title {
  font-size: 25px;
}

.card-cardUserName {
  float: right;
  font-size: 12px;
  margin-top: 15px;
  padding: 7px;
}

.card-creaedAt {
  float: left;
}

.card-text {
  font-size: 18px;
  height: 130px;
  overflow-y: scroll;
}

.card-text::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

.card-text::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

.card-text::-webkit-scrollbar-thumb {
  background-color: #59B2FF;
  border: 2px solid #555555;
}

.card-email {
  background-color: #59B2FF;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 5%;
  margin-bottom: 5px;
  display: block;
  text-align: center;
}

.card-email:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 40px 0 rgba(0, 0, 0, 0.19);
}

.card-email:active {
  transform: scale(.96);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-header {
  display: block;
  text-align: center;
}

#landing_container {
  background-color: #ffffffbe;
  width: 25%;
  margin-bottom: 5%;
}

#postContainer {
  width: 50%;
  background: rgba(89, 178, 255, 0.795);
  margin-bottom: 50px;
}

#student-post-body {
  background: #75131300;
}

#g-btn {
  color: #494949 !important;
  text-transform: uppercase;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #494949 !important;
  border-radius: 6px;
  display: inline-block;
}

#g-btn:hover {
  color: #ffffff !important;
  background: #59B2FF;
  border-color: #59B2FF !important;
  transition: all 0.4s ease 0s;
}

.container {
  margin-top: 1em;
  margin-bottom: 56em;
}

.float-left {
  float: left;
}

@media only screen and (max-width: 600px) {
  #landing_container {
    background-color: #ffffffbe;
    width: 50%;
    margin-bottom: 5%;
  }
}

/* nav */

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  /* background-color: #4CAF50; */
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}