.card{
  display:inline-block; 
  float: left; 
  margin:0.25em; 
  width: 45%;
  -webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}

.card-header{
 font-size: 35px
}

.card-email{
background-color: rgba(123, 123, 206, 0.589);
padding: 5px;

}

